<div class="container">
  <div class="box">
    <div class="buttons">
      <button (click)="rfxLoggerSuccess()" class="button button-success">Success</button>
      <button (click)="rfxLoggerWarning()" class="button button-warning">Warning</button>
      <button (click)="rfxLoggerError()" class="button button-error">Error</button>
    </div>
    <input type="text" [(ngModel)]="customMessage" placeholder="Your custom console message" />
    <div class="buttons">
      <button (click)="toggleDebugData()" class="button button-debug">
        <ng-container *ngIf="isDebugDataDisabled">Enable debug data</ng-container>
        <ng-container *ngIf="!isDebugDataDisabled">Disable debug data</ng-container>
      </button>
    </div>
    <div class="message">
      <ng-container *ngIf="messageSent">
        Message sent to your dev tools console!
      </ng-container>
    </div>
  </div>
</div>
