<div class="container" style="height: 300vh">
  <div libRfxScrollAnimation class="element" [animationType]="test1" [transitionDelayMs]="200"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2" [transitionDelayMs]="400"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test3" [transitionDelayMs]="600"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2" [transitionDelayMs]="800"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test1"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test3"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test1"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test1"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test3"></div>
  <!-- <div libRfxScrollAnimation class="element" [animationType]="test3" [isOnlyFirstTime]="false"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test1" [isOnlyFirstTime]="false"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2" [isOnlyFirstTime]="false"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test2" [isOnlyFirstTime]="false"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test1" [isOnlyFirstTime]="false"></div>
  <div libRfxScrollAnimation class="element" [animationType]="test3" [isOnlyFirstTime]="false"></div> -->
</div>
