<div class="container">
  <div libRfxScrollAnimation class="element" [animationType]="test1">
    contenuto a cazzo di cane
  </div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
  <div libRfxScrollAnimation class="element"></div>
</div>
